/*...box--页面左右留白...*/
.box{
	width: 98%;
	height: auto;
	margin: 0 auto;
	overflow: hidden;
}

/*...nav....*/
nav{
	width:100% ;
	height: auto;
	background: #EBEBEB;
	margin: 0 auto;
	overflow: hidden;
}
nav a{
	display: inline-block;
	float: left;
	font-size: 10px;
	color: #646464;
	padding:6px 16px 6px 16px;
}
nav a:hover{
	text-decoration: underline;
}
nav p{
	float: right;
}
/*..header...*/
header{
	width: 100%;
	height: 128px;
	margin: 0 auto;
	background: white;
	position: relative;
}
header img{
	display: inline-block;
	float: left;
	margin:8px 0px 8px 33px;
}
header a{
	display: inline-block;
	float: left;
	font-size: 18px;
	color: #646464;
	padding:8px 14px 8px 14px;
}
.headerBox{
	overflow: hidden;
	padding: 42px 0 42px 10px;
}
.menu{
	position: absolute;
	left: 0;
	top: 128px;
	width: 100%;
	height: auto;
	background: white;
	z-index: 2;
}
.menuM{
	width: 30%;
/*	height: 0;*/
	float: left;
	padding-bottom: 30px;
	display: none;
}
.menuM h5{
	font-size: 16px;
	margin:8px 30px ;
}
/*.menuM li{
	float: left;
}*/
.menuM a{
	display: block;
	width: 80%;
	box-sizing: border-box;
	font-size: 12px;
	color: #6f6f6f;
	margin: 6px 28px;
}




/*...轮播图....*/
.swiper-container {
      width: 100%;
      height: auto;
      margin-top: 30px
    }
.swiper-slide img{
	width: 100%;
	height: auto;
}
.swiper-pagination-bullet{
	width: 20px;
	height: 20px;
}
.swiper-slide {
      text-align: center;
      font-size: 20px;
      background: #fff;

      /* Center slide text vertically */
	  display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

/*#lunbo{
	width: 100%;
	height: 680px;
	margin: 30px auto 15px;
	overflow: hidden;
}
.lunbo img{
	width: 100%;
	height:auto;
}*/

/*...content...*/
.contentBox{
	width: 32%;
	height: auto;
	overflow: hidden;
	margin-top: 40px;
	float: left;
}

.contentUp{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.contentUp a{
	display: block;
	width: 100%;
	height: auto;
}
.contentUp img{
	width: 100%;
}
.contentDown{
	width: 100%;
	height: 130px;
	background: white;
	padding-left: 10px;
	padding-right: 15px;
	box-sizing: border-box;
	border-bottom: 2px solid white;
}
.contentDown h4{
	font-size: 16px;
	padding-top: 15px;
	padding-bottom: 12px;
	color: #000000;
}
.contentDown p{
	font-size: 12px;
	color: #757575;
}
/*...lianjie...*/
.lianjie{
	width: 100%;
	height: 170px;
	background: white;
	padding:28px;
	overflow: hidden;
	box-sizing: border-box;
	margin-top: 44px;
	float:left;
}
.lianjieBox{
	overflow: hidden;
}
.lianjieBox h3{
	font-size: 24px;
	margin-bottom: 12px;
}
.lianjieBox a{
	display:inline-block;
	width: 27%;
	height: 30px;
	line-height: 30px;
	float: left;
	font-size: 12px;
	text-indent: 10px;
	color: #646464;
	border-top: 1px dotted #b2b2b2;
	border-bottom: 1px dotted #b2b2b2;
	margin-right: 48px;
}
.lianjieBox a:hover{
	background: lightgray;
}
.lianjieBox a:nth-child(7){
	border-top: none;
}
.lianjieBox a:nth-child(5){
	border-top: none;
}
.lianjieBox a:nth-child(6){
	border-top: none;
}

/*....guanzhu...*/
.guanzhu{
	width: 100%;
	height: 160px;
	background: white;
	margin-top: 30px;
	overflow: hidden;
	float: left;
	text-align: center;

}
.guanzhu p{
	font-size: 22px;
	color: #757575;
	margin: 25px;
	text-align: center;
}
.iconfont{
	font-size: 36px;
	color: #E1E1E1;
	margin: 0 3px;
}
.icon-weibo:hover{
	color: #e8021f;
}
.icon-weixin:hover{
	color: limegreen;
}
/*....bottom...*/
.bottom{
	width: 100%;
	height: 170px;
	background: white;
	margin-top: 30px;
	overflow: hidden;
	float: left;

}
.bottomBox{
	text-align: center;
	margin-top: 34px;
	margin-bottom: 26px;
}
.bottomBox a{
	font-size: 10px;
	color: #646464;
	margin:0 12px;
}
.bottomBox a:hover{
	text-decoration: underline;
}
.bottom p{
	font-size: 8px;
	color: #757575;
	text-align: center;
	margin-bottom: 5px;
}


























